@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Comfortaa", cursive;
}
.main {
  display: none;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  height: 270px;
  width: 400px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 30px;
  color: white;
  padding-top: 4%;
}
.main.show {
  display: block;
}

.img {
  height: 100vh;
  width: 100%;
  z-index: 2;
  display: none;
}
.img.show {
  display: block;
}

#btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 10px;
  border: 2px solid palevioletred;
  border-radius: 20px;
  background-color: palevioletred;
  font-size: 40px;
}

#btn.none {
  display: none;
}
